@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body{
    margin:0;
    font-size: 16x;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #374958;
}
#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.75fr 6fr 0.25fr;
    height: 100vh;
}
.header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #f2f3f5;
    border-bottom: #2abd67 2px solid;
    box-shadow: 0 4px 2px -2px #1c8146 ;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 2.5rem;
    font-weight: 900;
}
.material-symbols-outlined{
    font-size: inherit;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.267);
    border-radius: 5px;
}
.footer{
    grid-area: 3 / 1 / 4 / 3;
    background-color: #f2f3f5;
}
.main{
    grid-area: 2 / 1 / 2 / 3; 
    background-color: #ececec;
    display: flex;
}
.mainWrapper{
    width: 80%;
}
.sidebar{
    background-color: #fefcfe;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 25px;
}
.sidebar h2{
    border-bottom: #374958 2px solid;
    padding-bottom: 10px;
}
.home{
    display:  flex;
    flex-direction: column;
    gap: 10px;
}
.homeProject{
    font-weight: 800;
    font-size: 1.2rem;
    padding: 5px;
}
.homeProject:hover{
    background-color: rgba(128, 128, 128, 0.267);
    cursor: pointer;
}
.addProject{
    font-size: 1.5rem;
    font-weight: 900;
    background: none;
    border: none;
    color: inherit;
}
.addProject:hover{
    color: #1c8146;
    cursor: pointer;
}