@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
:root{
    --bgColor2: #ececec;
    --bgHeaderFooter: #f2f3f5;
    --bgSideBarMain: #fefcfe;
    --bgColorPopUp: #f3f1f3;
    --textColor: #374958;
    --green: #2abd67;
    --darkGreen: #1c8146;
    --red: #d11a2a;
    --grayBackground :rgba(128, 128, 128, 0.267); 
}

body{
    margin:0;
    font-size: 16x;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor);
}
#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 6fr 0.25fr;
    height: 100vh;
}
.header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--bgHeaderFooter);
    border-bottom: var(--green) 2px solid;
    box-shadow: 0 4px 2px -2px var(--darkGreen) ;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 2.5rem;
    font-weight: 900;
}
.material-symbols-outlined{
    font-size: inherit;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    background-color: var(--grayBackground);
    border-radius: 5px;
}
.footer{
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--bgHeaderFooter);
}
.main{
    grid-area: 2 / 1 / 2 / 3; 
    background-color: var(--bgColor2);
    display: flex;
}
.mainWrapper{
    width: 80%;
}
.sidebar{
    background-color: var(--bgSideBarMain);
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 25px;
}
.sidebar h2{
    border-bottom: var(--textColor) 2px solid;
    padding-bottom: 10px;
}
.hidden{
    display: none;
}
.home{
    display:  flex;
    flex-direction: column;
    gap: 10px;
}
.homeProject{
    font-weight: 800;
    font-size: 1.2rem;
    padding: 5px;
}
.homeProject:hover{
    background-color: var(--grayBackground);
    cursor: pointer;
}
.addProject{
    font-size: 1.5rem;
    font-weight: 900;
    background: none;
    border: none;
    color: inherit;
}
.addProject:hover{
    color: var(--darkGreen);
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .main{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        padding: 0;
    }
    .mainWrapper{
        width: 100%;
    }
  }
  