.projectsWrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project{
    display: flex;
    font-weight: 900;
}
.project:hover{
    background-color: rgba(128, 128, 128, 0.267);
}
.projectTitle{
    font-size: 1.5rem;
}
.projectTitle:hover{
    cursor: pointer;
    color:#2abd67;
}
.projectButtonWrapper{
    margin-left: auto;
}
.projectButtonWrapper button{
    background: none;
    border: none;
    font-size: 1.2rem;
}
.projectButtonWrapper button:hover{
    cursor: pointer;
}
#deleteProjectBtn:hover{
    color: red;
}
#editProjectBtn:hover{
    color:#2abd67;
}
