.mainWrapper{
    padding: 30px;
}
.mainHeader{
    background-color: var(--green);
    color: whitesmoke;
    font-size: 3rem;
    height: 80px;
    padding: 15px;
}
@media screen and (max-width: 1024px) {
    .mainWrapper{
        padding: 0;
    }
  }