.taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    align-items: center;
    border: 1px solid #374958;
    gap: 30px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.task:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
.task.checked{
    text-decoration: line-through;
    color: gray;
}

.taskBtnWrapper {
    margin-left: auto;
}

h4 {
    margin: 0;
}

.task p {
    margin: 0;
    font-size: 1.2rem;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid #374958;
    border-radius: 50%;
    margin-left: 10px
}


input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    transform: scale(0);
    background-color: #2abd67;
}


input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    color: black;
    cursor: pointer;
}

.taskBtnWrapper button {
    border: none;
    background: none;
    font-size: 1.2rem;
}

.editTask, .deleteTask{
    cursor: pointer;
}
.editTask:hover{
    color: var(--bgColor2);
}
.deleteTask:hover{
    color: red;
}